
/* Nav bar and its components */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

html, body{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fdfbf8;
}

.main-container{
    width:80%;
    margin: 0 auto;
    margin-top:5%;
    padding-top: 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 125, 44);
    padding: 0 10%;
    position: fixed;
    z-index: 100;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
}

.logo a{
    text-decoration: none;
    color: #ff9020;
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    margin-right: 7px;
    font-weight: 600;
}

.navlink ul{
    display: flex;
    gap:18px;
}

.navlink ul li{
    list-style-type: none;
}

.navlink ul li a{
    text-decoration: none;
    color:#fff;
       /* &:hover{
        background-color: #fff;
        color: #ff9020;
        padding: 10px 16px;
        border-radius: 10px;
    } */
}

.navlink .orange{
    background-color: #fff;
    color: #ff9020;
    padding: 10px 16px;
    border-radius: 10px;
}

/* Nav bar Sizing for mobile screens */
@media(max-width:700px){
    nav{
        background-color: black;
    }
}

/* Hero section or landing page */
/* section 1 */
.sec-1{
    margin-top: 30px;
    display: flex;
    height: 80dvh;
    gap:20px;
}

.sec-1 .hero{
    width: 50%;
}

.sec-1 .hero-pic{
    width:50%;
}

.hero-pic img{
    width:100%;
    height: 70dvh;
    background-color: #ffa449;
    padding: 15px;
    border-radius: 5px;
}


.hero h1{
    font-size: 100px;
    line-height: 90px;
    margin-top: 40px;
}

.hero h3{
    background-color: #1bce07;
    display: inline;
    color: #fff;
    padding: 7px 25px;
    border-radius: 10px;
}


.hero p{
    font-size: 23px;
    color: #48494c;
    line-height: 1.3;
    margin-top:14px;
    margin-bottom: 25px;
}

.orng{
    color: #f28110;
}

.hero{
    padding-top: 20px;
    padding-right: 30px;
}

.sec-2{
    padding: 0px 10%;
    margin-top:10%;
}

.sec-2 h2{
    text-align: center;
    font-size: 40px;
    margin-bottom:15px;
}


.sec-2 p{
    text-align: center;
    font-size: 25px;
    color: #757575;
}

.sec-3{
    margin-top: 10%;
    display: flex;
    flex-basis: 25%;
    gap:15px;
}

.boxes-3{
    background-color: #e2e9f5;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    border-radius: 6px;
}



/* HOMEPAGE SEC 4 */
.sec-4{
    margin-top: 10%;
    background-color: #eef1f6;
    padding: 5% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
}

.master-left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.sec-4 .master-left h2{
    font-size: 50px;
    margin-bottom: 8px;
}
.sec-4 .master-left p{
    font-size: 17px;
    line-height: 1.4;
    color: #757575;
}

.master-left h3{
    color: #757575;
    margin-bottom: 12px;
    line-height: 1.5;
}


.master-left img{
    width:13px;
}

.master-left a{
    text-decoration: none;
    color: #ff9204;
    margin-top: 14px;
    font-size: 19px;
}


.box p{
    font-size: 16px;
}

.master-right{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    background-color: #ffff;
    padding: 4% 4%;
    justify-content: center;
}

.master-right p{
    font-size: 20px;
    color: #757575;
}

.master-right hr{
    margin: 17px 0px;
}
.box-stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.box-stats .box h3{
    color: #f28110;
    font-size: 30px;
    margin-bottom: 9px;
}


.course-includes img{
    width:13px
}

.course-includes p{
    line-height: 1.4;
    font-size: 17px;
}

/* THIS IS SECTION5 SEC-5 */

.sec-5{
    margin-top: 10%;
    text-align: center;
    padding: 0 10%;
}

.stu-boxes{
    display: flex;
    flex-basis: 50%;
    text-align: left;
    gap: 14px;
    align-items: center;
    margin-top: 10%;
}

.stu-boxes .box{
    background-color: #e4e9f0;
    border-radius: 12px;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:5px;
}


.student-succ h2{
    font-size: 40px;
    line-height: 1.5;
}

.student-succ h5{
    font-size: 22px;
    color: #757575;
}
















/* ABOUT PAGE ONLY  */

.header{
    height: 40dvh;
    width:100%;
    background-color: #f7ddc2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
    margin-top:5%;
}

.header h2{
    font-size: 50px;
    margin-bottom: 10px;
}

.header p{
    color:  rgb(92, 92, 92);
    text-align: center;
    font-size: 25px;
}

/* Containers under the header in about section */

.about-2{
    display: flex;
    margin-top:4%;
    gap: 15px;
}

.left-cont{
    width:50%
}

.left-cont h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.left-cont p{
    line-height: 25px;
    color: rgb(92, 92, 92);
}
/* Styling for icons */
.box img{
    width:40px;
}

.right-cont{
    width:50%;
}

.box-1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    width:48%;
    height: 160px;
    border-radius: 5%;
    padding: 35px 0px 5px 10px;
}

.box-1 .a{
    background-color: #fce9d6;
}
.box-1 .b{
    background-color: #adfffa;
}

.box-1 .c{
    background-color: #b2ccf6;
}

.box-1 .d{
    background-color: #f9bae8;
}

.box-1 .box h3{
    font-size: 2rem;
    line-height: 40px;
}
.box-1 .box p{
    font-size: 1.3rem;
    color:  rgb(92, 92, 92); ;
}

/* About page  */
.about-3{
    margin-top:10%;
    background-color: #e4edfc;
    display: flex;
    padding: 3% 2%;
    gap:15px;
    align-items: center;
}

.leftimg{
    width:50%;
}

.leftimg img{
    width: 100%;
    margin-bottom: 15px;
}

.right-text{
    width:50%;
}
.items{
    margin:3% 0%;
} 

.item-1{
    display: flex;
    gap:5px;
    margin:2% 0%;
}
.item-1 img{
    width:30px;

}

/* Meet your instructor side */
.pinst{
    background-color:#f9bae8;
    display: inline;
    padding: 10px 20px;
    border-radius: 10px;
}
.right-text p{
    line-height: 30px;
}

.descrip p{
    font-size: 14px;
}
.booking{
    text-decoration: none;
    background-color: #ff9020;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}




/* The fourth 4th section for about */

.therapy-appr{
    margin-top: 10%;
    text-align: center;
}

.therapy-appr h2{
    font-size: 40px;
}
.therapy-appr p{
    font-size: 20px;
    line-height: 50px;
}

/* This is the theree card that come immediately after the therapy approach topic */

.mini-cards{
    margin-top:10%;
}

.mini-cards{
    display: flex;
    gap:14px;
}


.mini-cards .card img{
    width:40px;
    margin-bottom: 7px;
}

.mini-cards .card{
    background-color: #f6d6e0;
    padding: 19px 19px;
    border-radius: 8px;
}

.mini-cards .card  h3{
    margin-bottom: 7px;
}

.mini-cards .card p{
    line-height: 1.5;
}

/* The orange banner under the therapy effect */

.wide-banner{
    margin-top: 10%;
    width:100%;
    text-align: center;
    padding: 5% 0%;
}

.wide-banner{
    background-color: #f5810c;
}

.wide-banner h3{
    font-size: 35px;
    color: #fff;
}

.wide-banner p{
    font-size: 25px;
    font-size: 18px;
    margin:35px 0;
    color:#fff;
}

.wide-banner a{
    text-decoration: none;
    text-align: center;
}

/* .btns{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    gap: 25px;
} */

/* for the about page */
.btns .btn-a{
    background-color: #fff;
    padding: 14px 20px;
    color: #f5810c;
    border-radius: 6px;
    margin-right: 15px;
}

.btns .btn-b{
    padding: 12px 20px;
    color: #ffffff;
    border: 3px solid white;
    border-radius:6px ;
}

/* for the home hero section */
.hero .btns .btn-a{
    background-color: #ffae00;
    padding: 14px 20px;
    color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 15px;
}

.hero .btns .btn-b{
    padding: 12px 20px;
    color: #ffae00;
    border: 3px solid rgb(255, 166, 2);
    border-radius:6px ;
    text-decoration: none;
}


/* FOOTER SECTION */
footer{
    background-color: #040351;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    color: #ffff;
    margin-top:10%;
}

.foot-logo{
    display: flex;
    flex-direction: column;
    width: 24%;
    color: #ffff;
    gap: 10px;
}

.links ul li a{
    color: #fff;
    text-decoration: none;
    
}

.connect ul li a{
    color: #fff;
    text-decoration: none;
    margin: 5px 0px;
}
.connect ul li{
    margin: 5px 0px;
}

.links ul li{
    margin: 5px 0px;
}

.links ul{
    list-style-type: none;
}

.connect ul{
    list-style-type: none;
}






/* COURSE MATERIALS PAGE */

.boxes-coursemat{
    display: flex;
    gap:1rem;
    margin-top:1rem;
}

.course-header{
    height:60dvh;
}

.c-boxe{
    background-color: #f3f6fa;
    padding: 1.2rem 5rem;
    border-radius: 9px;
    text-align: center;
}

.c-boxe h2{
    color: #f77b00;
    margin-bottom: 0;
}

.c-boxe p{
    font-size: 1rem;
}

/* COMPREHENSIVE COURSE OUTLINE */

.outline-page{
    width:80%;
    margin: 0 auto;
    background-color: #ff8000;
    margin-top: 10%;
    display: flex;
    padding: 5% 3%;
    color: #fff;
    line-height: 1.4;
}

.outline-page .image{
    height: 50%;
    width: 50%;
    background-color: #eef1f6;
}

.outline-page .words{
    width: 50%;
}




/* CATEGORY SECTION  */
.c-category{
    margin-top: 10%;
    background-color: #e4e9f1;
    padding: 5% 10%;
}

.c-category h1{
    text-align: center;
    font-size: 3.5rem;
}

.c-category h5{
    text-align: center;
    font-size: 1.4rem;
    color: #757575;
}

.cat-boxes{
    display: flex;
    margin-top: 4%;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}

.cat-box{
    background-color: #fff;
    flex-basis: 49%;
    border-radius: 7px;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat-boxes img{
    width: 1rem;
}

.bottom{
    display: flex;
    gap: 1rem;
}
.cat-box p{
    line-height: 1.6;
    font-size: 1rem;
    color:#757575;
}

.cat-box hr{
    margin: 14px 0;
}


/* RESOURCE SECTION */

.resources{
    margin-top: 10%;
    text-align: center;
    padding: 3% 10%;
}

.resources h1{
    font-size: 3rem;
}


.resources h6{
    font-size: 1.5rem;
    color: #757575;
} 
.resources p{
    font-size: 0.8rem;
    color: #757575;
} 
.resources h5{
    font-size: 1.3rem;
    color: #464646;
} 



.box-cont{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 5%;
}

.res-boxes{
    background-color: #e8e9ea;
    width: 45%;
    text-align: left;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.prompt{
    background-color: #3b9f2f;
    text-align: center;
    width: 30%;
    margin:0 34%;
    padding: 10px 15px;
    color: #fff;
    border-radius: 7px;
}

/* THIS CESCTION IS THE LEARNING PATH */

.l-path{
    margin-top:10%;
    text-align: center;
}

.l-path h2{
    font-size: 3.5rem;
}



.paths{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f2;
    margin: 1.5% 20%;
    align-items: center;
    padding: 19px 19px;
    text-align: left;
    border-radius: 8px;
}

.left-s{
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-s .num{
    background-color: #ffc506;
    font-size: 0.6rem;
    color: #fff;
    padding: 9px 15px;
    border-radius: 50%;
}

.rigt-s img{
    width:30px;
}


/* COUPON CODES SECTION */
.top-head{
    height: 60%;
    width:100%;
    background-color: #feb67f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-head h1{
    font-size: 4rem;
    color: #fff;
}